html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
  }
* {
    padding: 0;
    margin: 0;
}
img {
    width:100%;
    height:100%;
    object-fit: cover;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
    }
}
.container-body {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.drop-down {
    display: none;
    margin-left: 16px;
    margin-right: 24px;
    border-radius: 50%;
    padding-top: 1%;
}
.icon {
    color: #000;
    font-size: large;
    margin-top: 16px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.portfolio-container {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 820px) {
    .home {
        display: flex;
        
    }
    .portfolio-container{
        
    }
    
}
.profile-container {
    width: 400px;
    height: 400px;
    text-align: center;
    overflow:clip;
    background-color: aliceblue;
    flex-direction: column;
    background-color: #eaeaea;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #00000080;
}
#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-sizing: border-box;
}
.name-tag {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.2;
    margin: 0;
}
.subname-tag {
    font-family: Courier New,Courier,monospace;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}
.button-group {
    margin-top: 8px;
}
.link-profile {
    font-size: 30px;
    margin-right: 16px;
    margin-left: 16px;
}
.icon-profile {
  transition: all 0.3s ease;
  &:hover{
    transform: scale(1.7);
  }
}

.item-navbar {
    display: flex;
}

.navbar-button {
    font-size: 14px;
    background: transparent;
    border: none;
    color: #000;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
    cursor: pointer;
    font-weight: bolder;
  }
  
.navbar-button::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #6b6a69;
    transition: .5s ease;
  }
  
.navbar-button:hover {
    color: #fff;
    transition-delay: .5s;
  
  }
  
.navbar-button:hover::before {
    width: 100%;
  }
  
.navbar-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #4d4d4a;
    transition: .4s ease;
    z-index: -1;
  }
  
.navbar-button:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}
.portfolio {
    height: 105vh;
    background-color: #d5d5d5;
    font-family: system-ui;
}


.intro {
    overflow: scroll;
    padding: 10px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.intro::-webkit-scrollbar{
    display: none;
  }
.intro h1 {
    max-height: 100%;
    max-width: 100%;
    font-weight: bold;
}
.intro p {
    font-size: 23px;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}

#message {
    color: #000;
    border-radius: 5px;
    padding: 2px;
}
#message:hover {
    background-color: #4e85e4;
    color: #fff;
}

@media screen and (max-width: 820px) {
    #item {
        display: none;
    }
    .drop-down {
        display: block;
    }
    
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
 .container-body .container-fluid{
    width: 50%;
    }